body {
    font-family: 'Arial', sans-serif;
    background-color: #303133;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #797979;
    margin-bottom: 10px;
}

.status {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #605f5f;
    font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    background-color: transparent;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000001a;
}

.cell {
    background-color: #848282;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
}

/* .cell:hover {
    background-color: #e8f4fd;
} */

.cell.X {
    color: #e74c3c;
}

.cell.O {
    color: #3498db;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3561c7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #2744ae;
}